<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <add key="sourceDirectory" value="c:\\filechunker\source\"/>
    <add key="destDirectory" value="c:\\filechunker\destination\"/>
    <add key="chunkSize" value="4"/>
    <add key="chunkPeriod" value="1"/>
    <add key="checkDestEmpty" value="true"/>

  </appSettings>
  
</configuration>