<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <sectionGroup name="BlogGroup">
      <section name="PostSetting" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    
    <section name="employeeCollectionSection"  type="reflect_01.EmployeesConfigSection,  reflect_01"/>

    <section name="DynamicConfigSection"  type="HarUtilities.Reflection.DynamicConfigSection,  HarUtilities"/>


    <!--    <section name="ProductSettings" type="ConfigurationExample.ProductSettings, ConfigurationExample"/>   -->
  </configSections>

  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <DynamicConfigSection>
    <DynamicConfigCollection>
      <DynamicElement value1="HarUtilities.dll"  value2="FileMoverChunkerV2"  value3="MoveFiles" />
      <!-- 
      <DynamicElement value1="Utilities_02.dll"  value2="ClassName_02"      value3="MethodName_02" />
      <DynamicElement value1="Utilities_03.dll"  value2="ClassName_03"      value3="MethodName_03" />
      -->
    </DynamicConfigCollection>
  </DynamicConfigSection>

  
  
  <employeeCollectionSection>
    <employeeCollection>
      <employee id="1">
        <personalInfo ssn="3243423" height="342"  weight="78" />
        <homeAddress pin="411001" city="Pune" state="Maharashtra"/>
        <officeAddress pin="844101" city="Shahdra" state="Delhi"/>
      </employee>
      <employee id="2">
        <personalInfo ssn="7435623" height="342" weight="62" />
        <homeAddress pin="411002" city="Pimpri" state="Maharashtra"/>
        <officeAddress pin="874785" city="Mangolpuri" state="Haryana"/>
      </employee>
    </employeeCollection>
  </employeeCollectionSection>
  
  
  <BlogGroup>
    <PostSetting>
      <add key="PostName" value="Getting Started With Config Section in .Net"/>
      <add key="Category" value="C#"></add>
      <add key="Author" value="Mukesh Kumar"></add>
      <add key="PostedDate" value="28 Feb 2017"></add>
    </PostSetting>
  </BlogGroup>
  
  <appSettings>
    <add key="dllPath" value="HarUtilities.dll"/>
    <add key="className" value="FileMoverChunker"/>
    <add key="methodName" value="MoveFiles"/>

    <add key="sourceDirectory" value="c:\\filechunker\source\"/>
    <add key="destDirectory" value="c:\\filechunker\destination\"/>
    <add key="chunkSize" value="4"/>
    <add key="chunkPeriod" value="1"/>
    <add key="checkDestEmpty" value="true"/>
    
  </appSettings>
</configuration>